.ipynb_checkpoints/Warsztat - start-checkpoint.ipynb
.ipynb_checkpoints/Warsztat 1-1-checkpoint.ipynb
.ipynb_checkpoints/Warsztat 1-2-checkpoint.ipynb
.ipynb_checkpoints/Warsztat 1-3-checkpoint.ipynb
.ipynb_checkpoints/Warsztat 1-4-checkpoint.ipynb